* {
    font-family:'Quicksand', sans-serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: medium;
    font-weight: 600;
}

/* .container {
    width: 100%;
    margin: 0 auto;
} */

.center {
    margin: auto;
    width: auto;
    text-align: center;
}

.results {
    float: left;
    width: 100%;
    background-image: linear-gradient(to top,hsla(241, 72%, 50%, 1), hsla(256, 72%, 50%, 0.8));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px 40px 40px 40px;
    color: hsl(241, 100%, 89%);
}

.scores {
    width:125px;
    height: 125px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 50%;
    background-image: linear-gradient(to top, hsla(256, 72%, 46%, 0.2),hsla(241, 72%, 46%, 0.8));
    font-size: x-small;
    color: hsl(241, 100%, 89%, 0.5);
}

.score {
    font-size:xx-large;
    font-weight: bold;
    color: white;
    padding: 5px;
}

.summary-container {
    float:left;
    clear:left;
    width:100%;
    padding:20px 40px 40px 40px;
}

.skills {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: small;
    font-weight: 600;
    display:flow-root;
}

.reaction {
    background-color: hsl(0, 100%, 67%, 0.1);
}

.memory {
    background-color: hsl(39, 100%, 56%, 0.1);
}

.verbal {
    background-color: hsl(166, 100%, 37%, 0.1);
}

.visual {
    background-color: hsl(234, 85%, 45%, 0.1);
}

.icon {
    display: inline;
    float: left;

}

.skill-title {
    display: inline;
    float: left;
    margin-left: 10px;
}

.skill-score {
    float:right;
    display: inline;
}

.r-title {
    color:hsl(0, 100%, 67%);
}

.m-title {
    color:hsl(39, 100%, 56%);
}

.v-title {
    color:hsl(166, 100%, 37%);
}

.vi-title {
    color:hsl(234, 85%, 45%);
}

.gray {
    color: hsl(224, 30%, 27%, 0.6);
}

.button {
    text-decoration: none;
    border: none;
    color: white;
    font-size: small;
    background-color: hsl(224, 30%, 27%);
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
}

.button:hover {
    background-image: linear-gradient(to top left,hsla(241, 72%, 46%, 1), rgb(126, 83, 242));
}

.attribution {
    font-size: 11px;
    text-align: center;
    float:left;
    margin: 10px auto;
    width: 100%;
    bottom: 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.comments-title {
    font-size: large;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}

.comments {
    margin-bottom: 10px;
    font-size: small;
}

@media screen and (min-width:393px) {
    .summary-container {
        margin-top: 20px;
    }

    .skills {
        margin: 30px 0;
    }

    .button {
        margin: 20px 0;
    }

}

@media screen and (min-width: 900px) {

    .container {
        width: 50%;
        margin: 0 auto;
    }

    .results {
        position: absolute;
        float:none;
        width:25%;
        z-index: 2;
        padding: 40px;
        border-radius: 20px;
        margin: 20px auto;
    }

    .summary-container {
        position: absolute;
        float:none;
        clear:none;
        margin: 0;
        margin: 20px auto;
        padding: 41px;
        width: 50%;
        z-index: 1;
        border-radius: 20px;
        box-shadow: 0px 4px 30px hsl(224, 31%, 28%, 0.3);
    }

    .summary {
        margin: 0;
        margin-left: 53%;

    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .skills {
        font-size: 0.8rem;
        margin: 10px 0;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        font-weight: 600;
        display:flow-root;
    }

    .comments {
        margin-top: 60px;
    }

    .comments-para {
        font-size: 0.8rem;
    }

    .comments-title {
        font-size: 1.5rem;
    }

    .scores {
        width:150px;
        height: 150px;
        margin: 30px auto;
        padding: 30px;
        border-radius: 50%;
        background-image: linear-gradient(to top, hsla(256, 72%, 46%, 0.2),hsla(241, 72%, 46%, 0.8));
        font-size: x-small;
        color: hsl(241, 100%, 89%, 0.5);
    }

    .score {
        font-size: 3rem;
        font-weight: bold;
        color: white;
    }

    .score-group {
        padding: 5px;
    }

    .button {
        margin-top: 40px;;
    }

    .attribution {
        position: absolute;
        font-size: 11px;
        text-align: center;
        margin: 10px auto;
        width: 100%;
        z-index: 3;
    }
}
